.bank{
  width:50%;
  margin:100px auto;
  border-radius: 20px;
  border:1px solid #000;
  padding:30px;
  position: relative;
}
.details{}
.details h2{
  background-color: rgb(255, 163, 171);
  color:white;
  text-align: center;
  margin:0;
  padding:20px;
  font-size:2rem;
}
.details ul{margin:0;padding:0;list-style: none;}
.details li{display: flex; justify-content: space-between; padding:15px 0; border-bottom:1px solid #ddd;}
.details li.active{color:red;}
small{display: block; font-size:1rem;}

.insert{

}
input,textarea{width:100%;}
*{box-sizing: border-box;}